.section-1 {
    background-color: #aa6060; /* Light Red */
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .section-2 {
    background-color: #5ab15a; /* Light Green */
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .section-3 {
    background-color: #6464ba; /* Light Blue */
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .section-4 {
    background-color: #b0b026; /* Light Yellow */
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .section-5 {
    background-color: #ffccff; /* Light Magenta */
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .section-6 {
    background-color: #5e9f9f; /* Light Cyan */
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .section-7 {
    background-color: #ae8255; /* Light Orange */
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .section-8 {
    background-color: #6d4d8b; /* Light Purple */
    padding-top: 10px;
    padding-bottom: 10px;
  }
  